body{
	font-family:"Trebuchet MS";
	
	margin: 0;
	padding: 0;
	background: #081f2d url(../images/img0.png)  no-repeat;
}
.conteiner{
	width: 960px;
	margin: auto;
	/*header*/
}
.header-top{
	background: #303c40;
}
.top-nav li {
	margin: 5px;
	padding-left:15px; 
	display: inline-block;
}
.top-nav {
	margin: 0;
	text-align: right;
	list-style: none;
}
.top-nav li+li{
	border-left: 1px solid;
}
.top-nav a, .bottom-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.header-bottom{
	background: #0d7aab;
	background: linear-gradient(to top, #016e9f, #1987b7);
}
.logo img{
	margin: -20px 0;
}
.bottom-nav {
	margin:-58px 30px 30px 0;

	text-align: right;
}
.bottom-nav li{
	text-transform: uppercase;
	padding: 40px 15px;
	display: inline-block;
}
.bottom-nav li:hover{
	background: #f89100;
	background: linear-gradient(to top, #fe9800, #e67c00);
}
.bottom-nav a{
	font-weight: bold;
}
/*end header*/
/*main*/
.content{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 20px ;
	padding: 20px;
	margin-right: 263px;
}
.content h1{
	font-size: 30px;
}

.sidebar-content{
	float: left;
	width: 200px;
}
.content-text{
	overflow: hidden;
	padding: 0 15px;
}
#map_canvas {
    width: 200px;
    height: 200px;
    float: left;
}
.address{
}
.heading{
	color: #006699;
	font-size: 12px;
	border-bottom: 1px solid #006699;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.sidebar{
	margin-top: 20px;
	float: right;
	width: 260px;
	background: #2c373a url(../images/img15.png);
	border: 1px solid transparent;
	border-radius: 0 15px 15px 0;
}
.right-nav{
	list-style: none;
	padding: 10px;
	margin:0;
}
.img_link{
	padding-right: 10px;
	width: 100px;
	height: 63px;
	float: left;
}
.img-wiget{
	width: 260px;
	height: 275px;
	background: #ecf1f7;
	margin-bottom:30px;
}
/*end main*/
/*footer*/
.footer{
	clear: both;
}

.collums{
	background: #07161f;
	background: linear-gradient(to top, #05141d, #0a1922);
	width: 200px;
	float: left;
}

/*end footer*/