body{
	font-family:"Trebuchet MS";
	
	margin: 0;
	padding: 0;
	background: #081f2d url(../images/img0.png)  no-repeat;
}
.conteiner{
	width: 960px;
	margin: auto;
	position: relative;
	/*header*/
}
.header-top{
	background: #303c40;
}
.top-nav li {
	margin: 5px;
	padding-left:15px; 
	display: inline-block;
}
.top-nav {
	margin: 0;
	text-align: right;
	list-style: none;
}
.top-nav li+li{
	border-left: 1px solid #fff;
}
.top-nav a, .bottom-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.header-bottom{
	background: #0d7aab;
	background: linear-gradient(to top, #016e9f, #1987b7);
}
.logo img{
	margin: -20px 0;
}
.bottom-nav {
	margin:-58px 30px 30px 0;

	text-align: right;
}
.bottom-nav li{
	text-transform: uppercase;
	padding: 40px 15px;
	display: inline-block;
}
.bottom-nav li:hover{
	background: #f89100;
	background: linear-gradient(to top, #fe9800, #e67c00);
}
.bottom-nav a{
	font-weight: bold;
}
/*end header*/
/*main*/
.baige-price{
	position: absolute;
	top: 5px;
	left: -55px;
}
.price{
	position: absolute;
	top: 90px;
	left:90px;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}
.content{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 20px ;
	padding: 20px;
	margin-right: 263px;
}
.content h1{
	font-size: 30px;
}

.sidebar-content{
	float: left;
	width: 200px;
}
.content-text{
	overflow: hidden;
	padding: 0 15px;
}
.content-list li, .collums li{
	color: #f6911e;
	font-size: 14px;
}

.content-list{
	padding: 5px;
}
.content-list span{
	color:#000;
}

#map_canvas {
    width: 200px;
    height: 200px;
    float: left;
}
.content-holder{
clear:left;
}
.heading{
	color: #006699;
	font-size: 12px;
	border-bottom: 1px solid #006699;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.img-wiget{
	width: 260px;
	height: 275px;
	background: #ecf1f7;
	margin-bottom:30px;
}
.bth{
	margin: 75px 0 25px  0;
}
.bth a{
	padding: 15px 28px;
	font-size: 18px;
	text-decoration: none;
	background: #f58d00;
	text-transform: uppercase;
	color: #fff;
	background: linear-gradient(to top, #fe9800, #e67c00);
}
/*table*/
.table td{
	/*padding: 6px;*/
	border-bottom: 2px solid #40a3ce ; 
	border-right: 2px solid #40a3ce 
}
.table div{
	padding: 5px 0;
}
.internal_table td{
	border: 0 solid
}
.outer_table { border-collapse: collapse;
width: 100%;
}
.internal-table-wrapper{
	padding-left: 0px;
}
.table {
	text-align: center;
	/*width: 200px;*/
	background: #0079ad;
	background: linear-gradient(to top, #0086bf, #006b99);
	padding-right:1px;
}
.table .no-border{
	border-right: 0 solid ;
}
.t-1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}
.t-2{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.t-3{
	font-size: 11px;
}
/*end table*/
.img-check{
	width: 33px;
	height: 33px;
	float: left;
	 transition-duration: 1s; 
}
.img-check:hover{
	
	-moz-transform: rotate(-360deg); /* Для Firefox */
    -ms-transform: rotate(-360deg); /* Для IE */
    -webkit-transform: rotate(-360deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-360deg); /* Для Opera */
    transform: rotate(-360deg);	
}
.check-list{
	margin-top: 0;
	list-style: none;
	padding: 0;
	padding-top: 7px;
}

.check-list li{
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
.check-list li+li{
	font-weight: normal;
	border-left: 1px solid;
}
/*sidebar right*/
.p_link{
	font-size: 12px;
	color: #fff;
	padding: 12px 0;
}
.money{
	padding-top: 15px;
	color: #ff9900;
}
.sidebar{
	margin-top: 20px;
	float: right;
	width: 260px;
	background: #2c373a url(../images/img15.png);
	border: 1px solid transparent;
	border-radius: 0 15px 15px 0;
}
.right-nav{
	list-style: none;
	padding: 10px;
	padding-bottom: 0;
	margin:0;
}
.img_link{
	padding: 5px 5px 10px 5px ;
	width: 100px;
	height: 63px;
	float: left;
}
.button {
	text-align: right;
	margin: 10px 10px 30px 0;
}
.button a{
	background: #0078ac;
	background: linear-gradient(to top, #0085be, #006e9d);
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px;
}
/*end sidebar right*/
/*end main*/
/*footer*/
.footer{
	min-height:230px;
	margin-top: -10px; 
	clear: both;
	background: #07161f;
	background: linear-gradient(to top, #05141d, #0a1922);
}
.conteiner:after{
	display: block;
	content: "";
	clear: both;
}
.collums{
	margin-top: 20px;
	width: 120px;
	float: left;
}
.collums ul{
	margin-top: 5px;
	padding:0 10px;
}
.collums li{
	line-height: 25px
}
.collums span{
	color: #fff;
	font-size: 11px
}
.collums h3{
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.left-padding{
	padding-left: 20px;
}
[class*=ico-]{
	display: inline-block;
	width: 27px;
	height: 27px;
	background: url(../images/img12.png) no-repeat;
}
.ico-2{
	background-position:  -31px 0px;
}
.ico-{
	background-position:  -62px 0px;
}
.social{
	margin-left: -30px;
	padding:160px 0 0px 0px;
	
}
.news{
	margin-top: 30px;
	position: relative;
	float: right;
	width: 320px;
	font-size: 14px;
	color: #fff;

}
.img-news{
	position: absolute;
	top: 110px;
	right: 0px;
}
.news p{
	border: 1px solid #303c40;
	border-radius: 10px;
	background: #303c40;
	padding:15px
}
.news a{
	font-size: 12px;
	color: #ff9900;
}
.news span{
	font-size: 11px;
	color: #9b9b9b;
}
.footer-logo{
	font-size: 11px;
	margin:0;
	margin-right: 65px;
	color: #fff;
	padding:40px 0 5px 55px;
	float: right;
	background: url(../images/img10.png) no-repeat;
}
/*end footer*/