$brand-primary:red;
$link-color:  #cb0921;
$color:#000;
$grid-gutter-width:50px;
$font-family-base:"Lobster1.4";
$navbar-margin-bottom: 0;
$font-size-h1:22px;
$line-height-computed:5px;
$nav-link-hover-bg:transparent;
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {font-family:"Lobster1.4";src:url("../fonts/Lobster_1_4.eot?") format("eot"),url("../fonts/Lobster_1_4.woff") format("woff"),url("../fonts/Lobster_1_4.ttf") format("truetype"),url("../fonts/Lobster_1_4.svg#Lobster1.4") format("svg");font-weight:normal;font-style:normal;}
// body{
// 	font-family: ;
// }
header{
	font-size: 14px;
	color:#561e10;
	font-family: "Arial";
	background:rgba(#ffc9c9,0.94);
	position: relative;
	&:after{
		content:"";
		display: block; 
		width: 100%;
		height: 40px;
		background: url(../images/img6.png)repeat-x;
		position: absolute;
		top: 67%;left: 0;
	}
}
.icon{
	display: inline-block;
	width: 25px;
	height: 16px;
	background: url(../images/icon.png);
	vertical-align: middle;
	&-shopping_basket-48{
		background-position: -45px 0;
	}
}
.title{
	text-align: center;
	color: #ed1d38;
	position: relative;
	margin-top: 30px;
	padding-bottom: 10px;
	background: linear-gradient(to bottom,  #fec1c1 0%,#ffcbcb 100%);
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 20px;
		position: absolute;
		top: -15px;left: 0;
		background: url(../images/img5.png);
	}

}
.content{
	background: #73412d;
	padding: 60px 0;

}
.thumb{
	padding: 1px;
	&__description{
		background:#f6dbac;
		color:#643827;
		margin-top: 10px;
		padding:65px 25px;
		position: relative;
		&-text{
			color: #049b99;
			font-size: 20px;
			padding-top: 25px;
			display: block;
		}
		&-content{
			font-family: "Arial";
			font-size: 14px;
		}
	}
	&__title{
		background: #ff1b39;
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		font-size: 26px;
		padding-bottom: 3px;
		color:#f6dbac;
		padding-left: $grid-gutter-width;
		&:after{
			content: "";
			background: url(../images/img3.png);
			height: 43px;
			width: 26px;
			position: absolute;
			top: 0;left: -26px;
		}
		&:before{
			@extend .thumb__title:after;
			left: 100%;
			background-position: 30px 0px;
		}
		&-icon{
			background: url(../images/img4.png);
			display: block;
			width: 60px;
			height: 70px;
			position: absolute;
			top: -35px;
			left: 75%;
			&--2{
				background-position: -55px 0;
			}
			&--3{
				background-position: 70px 0;
			}
		}
	}
}
// footer
.footer{
	&:after{
		display: block;
		content: "";
		clear: both;
	}
	background: linear-gradient(to bottom,  #fdb5b9 0%,#ffcdcd 41%,#ffcdcd 100%); /* W3C */


}
.footer{
	font-size: 16px;
}
.copiright{
	margin: -35px 0;
	color:$link-color;
	@media(max-width: 768px){
		width: 100%;
		text-align: center;
		margin: 0px;
	}
}
@import "_bootstrap.scss";

