
$black: #000;
$padding: 20px;
$fontSize: 18px;
$margin: auto;
$max-width: 720px;
body{
	color: $black;
	font-size: $fontSize;
	font-family: "Microsoft PhagsPa";
}
// a:link{
// 	color:$black !important;
// }
img{
	width:100%;
	height:auto;
}
*{
	box-sizing:border-box
}
a{
	color:$black;
}
a:hover{
	text-decoration: none;
	color:#ccc;
}
.btn{
	color: #fff;
	background: #000;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
	&-icon{
		// @extend .btn;
		font-size: 30px;
		vertical-align: middle;

	}
	&--media{
		margin: 10px;
		display: block;
	}
	&-mobil{
		position: absolute;
		display: none;
		top:44%;
		left: 90%;
		width: 25px;height: 10px;
		background:url(../images/btn-mobil.png);
		background-position:25px 0;
		@media(max-width: $max-width){
			display: block;
		}
	}
	&--block{
		display: none;
		@media(max-width: $max-width){
			display: block;
		}
	}
}
.heading{
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	@media(max-width: $max-width){
		font-size: 18px;
	}
}
// form
.form-reset{
	padding: 10px 0;
	background: transparent;
	border:1px solid transparent;
	width: 100%;
	margin: auto;
}
.form-control{
	margin: 35px 0;
	border-bottom: 1px solid #000;
	&::-webkit-input-placeholder {color:#000;font-size: 16px;}
	&--border{
		border: 1px solid $black;
		}
	@media(max-width: $max-width){
		padding:15px;
		margin: 5px;
		font-size: 14px;
	}
}
// end form
.container{
	max-width:1550px;
	margin:$margin;
	padding:0 10px;
}

.container:after,.logo:after, .content:after{
	content: "";
	display: block;
	clear: both;
}
// header
.logo{
	display: block;
	padding: 60px 0;
	font-family:"Impact";
	font-size: 30px;
	vertical-align: middle;
	@media (max-width: $max-width){
		display: none;
	}
	&:hover{
		color:$black;
	}
}
.logo-wrapper{
	width: 56px;
	height: 56px;
	float: left;
	padding:0 10px 0 0;
}
.nav-main{
	float: right;
	padding: 75px 0;
	font-weight: bold;
	font-size: 24px;
	@media (max-width: $max-width){
		display: none;
		background: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding:0;
		font-size: 18px;
	}

	&__item{
		@extend .nav-social__item;
		padding-right: 50px;
	}
	&__link{
		display:block;
	}
}
.nav-main.open{
	display: block!important;
}
.main-button__img{
	background: url(../images/menu.png)no-repeat;
	width: 30px;
	height: 30px;
	display: none;
	margin-top: 20px;
	float: left;
	@media(max-width: $max-width){
		display: block;
	}

}
.nav-social{
	float: right;
	padding: 75px 0;
	font-weight: bold;
	font-size: 24px;
	padding-left:80px;
	@media (max-width: $max-width){
		display: block;
		padding: 25px 0;
	}
	&__item{
		display:inline-block;
	}
	&__link{

	@extend .nav-main__link;
		padding: 0 15px;
	}
}
.icon-bag45{
	position: relative;
}
.nav-social__link-ico-number{
	position: absolute;
	right: -5px;top: -5px;
	font-size: 10px;
}
// end header
// main
// sidebar
.sidebar{
	padding-top: 70px;
	float: left;
	width:  25%;
	@media (max-width: $max-width){
		display: none;
	}
}

.content{
	width: 75%;
	float: left;
	@media (max-width: $max-width){
		width: 100%;
	}
}
.filter-mobil{
	background: #ebebeb;
	display: none;
	font-size: 0;
	font-weight: bold;
	padding: 20px 0;
	width: 100%;
	vertical-align: top;
	text-align: center;
	&__item{
		@extend .nav-social__item;
		width: 33.33%;
		font-size: 20px;
	}
	&__link{
		opacity: 0.5;
		&--active{
			opacity: 100;
		}
	}
	 @media (max-width: $max-width){
	 	display: block;
	 }

}
.filter{
	font-weight: bold;

}
.filter__item + .filter__item{
	padding-top: 60px;
}
.filter-list{
	&__item{
		padding-top: 10px;
	}
	&__link{
		font-weight: normal;
		&--active{
			border-bottom: 1px solid black;
		}
	}
}
.breadcrumbs{
	padding-bottom: 70px;
	&__item{
		@extend .nav-social__item;
	}
	 @media (max-width: $max-width){
	 	display: none;
	 }
}
.breadcrumbs__item +.breadcrumbs__item:before{
	content: "/"
}
// thumb
.content{
	overflow: hidden;
}
.thumb{
	font-size: 0;
	text-align: center;
	&__description{
		display: none;
	}
	&__item{
		margin-bottom: 50px;
		position: relative;
		vertical-align: top;
		padding-bottom:25px;
		width: 33.33%;
		font-size: 18px;
		@extend .nav-social__item;
		@media (max-width: $max-width){
			width: 100%;
		}
	}
	&__title{
		position: absolute;
		bottom: 25%;
		left: -25px;
		font-size: 30px;
		font-weight: bold;
		transform: rotate(270deg);
		z-index: 2;
	}
	&--hover{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		}
}
.thumb-hover{
	padding-bottom: 100%;
	width: 100%;
	background:#fff;
	&__link{
		position: absolute;
		top: 0;left: 0;
		font-size: 24px;
	}
	&__description{
		position: absolute;
		bottom: -35px;
		right: 10px;
		font-size: 24px;
		font-weight: bold;
		&--normal{
			font-weight: normal;
			font-size: 18px;
		}
	}
}
.bottom-border, .left-border{
	position: absolute;
	display: block;
	background: $black;
	z-index: 2;
	bottom: 9999px;
}
.bottom-border{
	left: 9999px;	
	width: 100%;
	height: 1px;
	transition-delay:0.4s;
}
.left-border{
	width: 1px;
	// height: 114%;
	transition-duration:0.4s;
	padding-bottom: 114%;
}
.thumb__item:hover {
	.bottom-border{
	bottom: 15px;
	left: 0;
	}
	.left-border{
	bottom: 15px;
	right: 0px;
	}
	.thumb__img{
		opacity: 0;
	}
	.thumb--hover{
		transform:  translate(0, -40px);
		display: block;
		z-index: 1;
	}
}
// end thumb
.nav-page{
	text-align: right;
	padding: 100px;
	&__item{	
		@extend .nav-social__item;
		&--active{
			border-bottom: 1px solid;
		}
	}
	&__link{
		padding: 0 5px;
	}
	@media (max-width:$max-width){
		display: none;
	}
}
// footer
.footer{
	background: #000;
	color:#fff;
	padding: 80px 0;
	text-align: center;
	&-wrapper{
	padding-bottom: 40px;
	}
	&-list{
	font-size: 0;
	text-align: center;
		&__item{
			@extend .nav-social__item;
			font-size: 18px;
			width: 33.3%;
			vertical-align: top;
			@media (max-width: $max-width){
				width: 100%;
				padding: 20px 0
			}
		}
	}
}

.footer-nav{
	font-size: 0;
	&__item{
		@extend .footer-list__item;
		@media (max-width: $max-width){
			width: 33.3%;
			padding: 10px;
		}
	}
	&__link{
		font-weight: bold;
		@media (max-width: $max-width){
			font-size: 12px;
		}
	}
}
.footer-social-list{
	&__item{
		@extend .nav-social__item;
	}

	&__link{
		// @extend .footer-nav__link;
		font-weight: bold;
		transform: scale(1, 1);
		padding:0 20px;
		transition: transform 1s ease 0s;
		&:hover{
			transform: scale(1.3, 1.3);
		}
		@media (max-width: $max-width){
			font-size: 20px;
			padding: 0 15px;
		}
	}
}
.footer-form{
	padding: 0 20px;
	@extend .footer-nav__link;
}
.footer-form-box{
	@extend .footer-nav__link;
}
.footer-form__label{
	width: 35%;
	margin-right: 10px;
	font-size: 18px;
	display: inline-block;
}
.footer-form__wrapper{
	width: 60%;
	font-size: 18px;
	display: inline-block;
	@media(max-width: $max-width){
		width: 90%;
		margin: auto;
	}
}
.copyright{
	@extend .footer-nav__link;
	display: block;
	font-size: 14px;
	padding-top: 40px;
	border-top: 1px solid #c7c7c7;
	opacity: 0.3;
		@media (max-width: $max-width){
			font-size: 10px;
		}
}
.footer-list__item--placeholder{
	margin: 0 0 0 20px;
	border-bottom:1px solid #fff;
	color:#fff;
	@media (max-width: $max-width){
		margin: 0;
	}
}
.footer a{
	color:#fff;
}
// end footer
// *************************
//chekout
// 
// main
.form{
	&-box{
		font-size: 0;
	}
	&-thumb{
		vertical-align: top;
		font-size: 18px;
		display: inline-block;
		width: 33.33%;
		text-align: center;
		&__wrapper{
			width: 70%;
			margin: auto;
			@media(max-width: $max-width){
				display: none;
				width: 100%;
			}
		}
		&__title{
			position: relative;
			font-size: 24px;
			font-weight: bold;
			padding-top: 110px;
			padding-bottom: 35px;
			@media(max-width: $max-width){
				padding: 20px;
				text-align: left;
				background: #ebebeb;
				border-bottom: 1px solid $black;
			}
		}
		&__table{
			width: 100%;
			font-size: 0;
			text-align: left;
			&-name{		
				@extend .form-thumb__table-value;
				margin:50px 0;
				@media(max-width: $max-width){
					margin: 25px 0;
				}	
			}
			&-value{
				width: 33.33%;
				font-size: 18px;
				float: left;
				vertical-align: middle;	
				padding:0 15px;
			}
			&:after{
				content: "";
				display: block;
				clear: both;
			}
		}
		@media(max-width: $max-width){
			width: 100%;
		}
	}
	&-button{
		float: right;
		margin:65px 100px 150px;
		@media(max-width:$max-width){
			float: none;
			text-align: center;
			margin: 0;
			width: 100%;
			background: $black;
		}
	}
	&-description{
		position: absolute;
		top: 40px;
		left: 64%;
		font-size: 38px;

		@media(max-width: $max-width){
			top:15px;
			font-size: 45px;
			left: 66%;
		}
	}
}
.wrapper-form-thumb__table-value{
	position: relative;
}
// end main
// 
//end chekout
// ************************
// home_page
.background{
	background: url(../images/background.png)no-repeat;
	background-size: cover;
	@media(max-width: $max-width){
		background: none;
	}
}
.logo--look{
	padding-bottom: 0;
}
.wrapper-heading{
	text-align: center;
	margin: 120px 0 50px 0;
	@media(max-width: $max-width){
		margin: 20px 0 20px 0;
			}
}
.box{
	&:after{
	content: "";
	display: block;
	clear: both;
	}	
	@media(max-width: $max-width){
		padding-bottom:25px;
	}
	&__images{
		position: relative;
		width: 33.3%;
		@media(max-width: $max-width){
			width: 100%;
		}
		&-title{
			text-transform: uppercase;
			font-size: 24px;
			font-weight: bold;
			position: absolute;
			@media(max-width: $max-width){
				font-size: 14px;
			}
			&-left{
				top: 50%;
				left: -40%;
				@media(max-width: $max-width){
					top: 65%;
					left: 35%;
				}
			}
			&-right{
				top: 75%;
				left: 75%;
				width: 100%;
				@media(max-width: $max-width){					
					top:103%;
					left: 45%;
					width: 40%;
				}
			}
			&-center{
				bottom: 15%;
				left: -40%;
				@media(max-width: $max-width){					
					
					left: 5%;
				}
			}
		}
		&-img--wrap{
			position: absolute;
			top: 40%;
			left: -70%;
			width: 100%;
			@media(max-width: $max-width){
				width: 55%;
				left: -15%;
			}
		}
		&--right{
			float: right;
			@media(max-width: $max-width){
				float: left;
			}
		}
		&--left{
			float: left;
			@media(max-width: $max-width){
				float: none;
				margin: auto;
			}
			margin: -115px 0 0 300px;
		}
		&--center{
			float: right;
			margin: 15% 10% 10% 0;
			@media(max-width: $max-width){
				float: right;
				margin: 0;
			}
		}
	}
}
//end home_page
// ****************
// product_page

.owl-prev, .owl-next{
	width: 25px;
	height: 60px;
	background: url(../images/img10.png);
	display: inline-block;
	position: absolute;
	top: 50%;
}
.owl-prev{
	left:0%;
}
.owl-next{
	background-position: -34px 0;
	left: 90%;
}
.wrapper-title{
	display: none;
	@media(max-width: $max-width){
	display: block;
	text-align: center;
	}
}
.carousel{
	&-wrapper{
		font-size: 0;
	}
	&-main{	
		width: 55%;	
		display: inline-block!important;
		vertical-align: top;
		margin-right: 5%;
		//&__item{
		//width: 80%;
		//height: auto;
		//}
		@media(max-width: $max-width){
			width: 100%;
		}
	}
	&-content{
		font-size: 20px;
		vertical-align: top;
		width: 40%;
		display: inline-block;
			@media(max-width: $max-width){
				text-align: center;
				width: 100%;
			}
		&__title{
			font-size: 24px;
			font-weight: bold;
			margin: 50px 0;
			display: block;
			@media(max-width: $max-width){
				font-size: 16px;
			}
		}
		&__price{
			@extend .carousel-content__title;
		}
		&__description{
			margin: 50px 0;
		}
		&__button{
			display: inline-block;
			padding: 60px 0;
		}
		&__filter{
			margin-bottom: 30px;
			width: 100%;
			&-name{
				width: 33.3%;
				display: inline-block;
				vertical-align: middle;
			}
			&-value{
				@extend .carousel-content__filter-name;
				width: 64%;
				padding-top: 12px;
			}
			&-color{
				font-size: 0;
				&__item{
					display: inline-block;
					font-size: 18px;
				}
				&__link{
					width: 40px;
					height: 40px;
					display: block;
					@media(max-width:$max-width){
						width: 30px;
						height: 30px;
					}
					&--worning{
						background: #f2f1bb;
					}
					&--dangerous{
						background: #f2cbcd;
					}
					&--primary{
						background: #d2ebef;
					}
					&--active{
						border: 1px solid $black;
					}
					&:hover{
						@extend .carousel-content__filter-color__link--active;
					}
					&--border{
						font-size: 26px;
						padding: 10px 12px;
						@extend .carousel-content__filter-color__link--active;
						@media(max-width: $max-width){
							font-size: 18px;
							padding: 4px 10px
						}
					}
				}
			}
		}
	}
}
.bottom-list{
	@media(max-width: $max-width){
		text-align: center;
	}
	&__title{
		font-size: 32px;
		font-weight: bold;
		padding: 90px 0;
		@media(max-width: $max-width){
			font-size: 20px;
		}
	}
	&-nav{
		font-size: 0;
		padding-bottom: 160px;
		&__item{
			width: 25%;
			padding: 0 25px;
			display: inline-block;
			position: relative;
			vertical-align: top;
			font-size: 20px;
			&:hover .bottom-list-nav__thumb--hover{
				display: block;
			}
			@media(max-width: $max-width){
				width: 100%;
			}
		}
		&__thumb--hover{
			display: none;
			&-title{
				font-size: 16px;
				text-transform: uppercase;
				position: absolute;
				top: 0;left: 0;
			}
			&-icons{
				position: absolute;
			    left: 80%;
			    top: 35%;
			    font-size: 28px;
			    font-weight: bold;
			}
			&-icon{				
				display: block;
				margin-bottom: 30px;
			}
			&-description{
				position: absolute;
				top: 95%;left: 0;
			}
		}
	}
}
// end product_page
// **********************
// wish list
.title{
	text-align: center;
	&-center{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 70px;
		@media(max-width:$max-width){
			margin: 0;
			padding: 20px 0;
			background: #ebebeb;
			font-size: 20px;
		}
	}
}
.wish-list{
	font-size: 0;
	width: 100%;
	position: relative;
	padding: 20px 0;
	border-bottom: 1px solid $black;
	@media(max-width:$max-width){
		// overflow: hidden;
	}
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	&--wrap{
		display: initial;
		@media(max-width: $max-width){
			display: block;
			overflow: hidden;
			margin-right: 10%;
		}
	}
	&--border{
		border-top: 1px solid $black;

		@media(max-width:$max-width){
			border-top: 1px solid transparent;
		}
	}
	&--margin{
		margin-bottom: 170px;
	}
	&__item{
		padding-left: 2.5%;
		vertical-align: middle;
		display: inline-block;
		font-size: 24px;
		&-title{
			font-weight: bold;
			padding: 15px 0;
			display: block;
		}
		&--media{
			&-block{
				display: none;
			}
			@media(max-width:$max-width){
				font-size: 14px;
			}
		}
	}
	&--icon{
		display: none;
		position: absolute;
		top: 35%;left: 90%;
		// float: right;
		// margin-left: 30px;
		@media(max-width:$max-width){
			display: block;
			font-size: 24px;
		}
	}
}
// end wish list
// **********************
// cart
.cart-list__item{
	padding-left: 0;
	padding-right: 7%;
}
.cart-delete{
	display: block;
	width: 26px;
	height: 26px;
	background: url(../images/icon.png) no-repeat;
	position: absolute;
	top:45%;
	left: 93%;
	@media(max-width: $max-width){
		top:35%
	}
}
.total-list{
	float:right;
	width: 80%;
	margin-right: 13.5%;
	padding: 50px 0;
	text-align: right;
	@media(max-width: $max-width){
		text-align: left;
		padding: 20px 0 25px;
	}
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	&__item{
		display: inline-block;
		// vertical-align: sub;
			font-size: 24px;
			margin-left: 12%;
		&--title{
			font-weight: bold;
			@media (max-width: $max-width) {
				font-size: 20px;
			}
		}
	}
}

.cart__button{
	clear: both;
	float: right;
	margin: 100px;
	@media(max-width: $max-width){
		float: none;
		text-align: center;
		margin:40px auto;
	}
}
.border-bottom{
	width: 100%;
	height: 1px;
	background: $black;
	clear: both;
	margin-top: 5%;
}
// end cart
// **********************

@media (max-width: $max-width){
.thumb{
	&__description{
		display: block;
		margin-top:30px ;
		overflow: hidden;
		font-size: 16px;
		&--normal{
			font-size: 14px;
			padding: 20px 0;
			display: block;
		}
	}
	&__title{
		font-size: 20px;
		bottom: 45%;
		left: 0;
	}
	&__item{
	margin-top: 30px;
	}
	&__img{
		float: left;
		width: 55%;
		margin-left: 15px;
	}
	&__link{
		padding-left: 25px;
	}
	&__icon{
		font-size: 20px;
		font-weight: bold;
	}
}

	.header{
		position: relative;
		z-index: 3;
	}
	.nav-main__item{
		display: block;
		padding: 5px 0;
	}
	.box{
		&__wrap{
			width: 55%;
		}
		&-right{
			float: right;
		}
		&-center{
			margin: auto;
		}
		&--margin{
			margin-top: 90px;
		}
	}
	.carousel-content__wrapper{
		display: none;
	}
	.btn--media{
		@extend .carousel-content__wrapper;
	}
	.thumb__img-images--right{
		float: right;
		margin-right: 15px;
	}
	.thumb__title--right{
		left: 38%;
	}
	.wish-list__item--width{
		display: block;
		padding-right: 8%;
	}
	.wish-list__item--float{
		float: left;
		width: 40%;
		margin-right: 10%;
	}
	.wish-list__item--media{
		&-none{
		display: none;
		}
		&-block{
			display: block;
			font-size:14px;	
			&-bold{
				font-weight: bold;
				padding: 15px 0;				
			}
		}
	}
	
	.active .btn-mobil{
		background-position:0 0;
	}
}